@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Login page</p>

<form class="card">
    
    <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="email" placeholder="Enter your email" />
    </div>


    <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" placeholder="Enter your password" />
    </div>

    <div>
        <button class="btn btn-outline-success">Submit</button>
    </div>

</form>


<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <form>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input placeholder="Enter Your email" class="form-control" />
                </div>
            </form>
        </div>
    </div>
</div>