@model MyFirstWeb.Models.Userdata
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Registration page</p>

<div class="container">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <form asp-action="Index" asp-controller="Home" method="post">
                <div>
                    <label class="control-label">Username</label>
                    <input asp-for="Name" placeholder="Enter Your Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input asp-for="Email" placeholder="Enter Your email" class="form-control" />
                </div>
                <div>
                    <label class="control-label">Date of birth</label>
                    <input asp-for="Dob" placeholder="Enter Your Dob" class="form-control" type="date" />
                </div>
                <div>
                    <label class="control-label">Designation</label>
                    <input asp-for="Designation" placeholder="Enter Your designation" class="form-control" />
                </div>
                <div>
                    <label class="control-label">Gender</label>
                    <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
                        <option value="">Select Gender</option>
                    </select>
                </div>
                <div>
                    <label class="control-label">Salary</label>
                    <input asp-for="Salary" placeholder="Enter Your Salary" class="form-control"/>
                </div>
                <div>
                    <label class="control-label">Married</label>
                    <div>
                        <label>Yes</label>
                        <input type="radio" asp-for="Married" value="yes"/>
                        <label>No</label>
                        <input type="radio" asp-for="Married" value="No" />
                    </div>
                </div>
                <div>
                    <input type="submit" value="Submit"class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>


@*<form class="card">
    <div class="form-group">
        <label class="control-label">Username</label>
        <input class="form-control" placeholder="Enter your username" type="text" />
    </div>

    <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="email" placeholder="Enter your email" />
    </div>


    <div class="form-group">
        <label class="control-label">Password</label>
        <input class="form-control" type="password" placeholder="Enter your password" />
    </div>

    <div class="form-group">
        <label class="control-label">DOB</label>
        <input class="form-control" type="date" />
    </div>


    <div class="form-group">
        <label class="control-label">Phone no</label>
        <input class="form-control" type="number" placeholder="Enter your phone no" />
    </div>

    <div class="form-group">
        <label class="control-label">Address</label>
        <input class="form-control" type="text" placeholder="Enter your Address" />
    </div>


    <div>
        <button class="btn btn-outline-success">Submit</button>
    </div>

</form>*@

